html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #313866;
}

.nome-loja {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-login-cadastro {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.butao-carrinho {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.tenis {
  width: 200px;
  height: auto;
}

.product1,
.product2,
.product3 {
  display: inline-block;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  padding: 10px 20px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
